.loader{
    height: 200px;
    width:200px;
    border-radius:50%;
    border:20px solid pink;
    border-bottom:20px solid grey;
    animation: spin 3s linear infinite normal ;
}

     @keyframes spin {
        
    from {
           transform: rotate(0deg);
}
to{
             transform: rotate(360deg);
}
}
